{
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "React": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "indent": ["error", 2],
    "no-console": [
      "error",
      {
        "allow": ["error", "info", "warn"]
      }
    ],
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectPattern": { "multiline": true, "minProperties": 5 }
      }
    ],
    "lines-between-class-members": "off",
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      // @xxx load tsconfig.json to eslint...
      // thx https://github.com/benmosher/eslint-plugin-import/issues/1485#issuecomment-535351922 🙏
      "typescript": {}
    }
  }
}
