.react-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(123, 124, 138, 0.5);

  .react-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;

    &.with-shadow {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }

    .react-modal-close {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;

      &.default {
        &::after {
          display: inline-block;
          content: '\00d7';
        }
      }
    }
  }
}
